.App {
  text-align: center;
}

main {
  position: fixed;
  top: 100px;
  width: 60%;
  border: 1px solid black;
  display: inline-block;
  left: 350px;
  overflow: scroll;
  height: 600px;
}

nav {
  position: fixed;
  width: 30%;
  border: 1px solid black;
  display: inline-block;
  top: 100px;
  left: 0;
  margin: 25px;
}
