.App {
  text-align: center;
}

main {
  position: fixed;
  top: 100px;
  width: 60%;
  border: 1px solid black;
  display: inline-block;
  right: 0px;
  overflow: scroll;
  height: 550px;
  margin: 20px;
}

nav {
  position: fixed;
  width: 30%;
  border: 1px solid black;
  top: 100px;
  left: 0;
  margin: 25px;
}
